<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Drivers</title>
    <!-- include vue -->
    <script src="https://unpkg.com/vue"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  </head>
  <body>
    <h1>    
      <post-count id="post-count"></post-count>
    </h1>
    <div id="app">
      <li v-for="post of posts">
        <strong>{{post.name}}</strong>
      </li>
    </div>
  </body>
  <script src="(( url_for('static', filename='drivers.js') ))"></script>
</html>