(% extends 'base.html' %)

(% block title %) Customers (% endblock %)

(% block content %)

    <h1>Drivers</h1>
    <div id="app">
    	<table class="table table-striped">
			<thead>
		    	<tr>
		      		<th scope="col">Id</th>
		      		<th scope="col">Namn</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		    	<tr v-for="driver of drivers">
		      		<td>{{ driver.id }}</td>
		      		<td>{{ driver.name }}</td>
		    	</tr>
      		</tbody>
  		</table>
    </div>
  <script src="(( url_for('static', filename='drivers.js') ))"></script>

(% endblock %)
